@model LoginModel 
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center mt-3 mb-3">AthenaMFA Demo</h1>
<div class="card">
    <div class="card-header">Simple Login Form</div>
    <div class="card-body">
        <h5 class="card-title text-center">Login</h5>
        <div class="mb-3">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control"  })
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-sm btn-primary btn-block" id="btnLogin">Login</button>
        </div>
    </div>
</div>

@section scripts
{ 
    <script src="~/js/login.js" type="text/javascript" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/athenamfa@1.2.1/athenamfa.js" integrity="sha256-GT8nmTzQP3oQcw2pnyB6sKv+iSnFj+JklYOiszycMKE=" crossorigin="anonymous"></script>
}